@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #333;
        --background: #ececec;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #1f1f1f;
        --background: #000000;
    }
}

:root {
    --super-cool-text-color: #f00;
}

.light {
    --text-color: #b6b6b6;
    --background: #ececec;
}

.blues {
    --text-color: #ffbd33;
    --background: #5880a0;
}

body {
    color: var(--text-color);
    background: var(--background);
}
#container {
    margin: 0 auto;
    width: 800px;
}

/* ==================================================================================== */

/* 
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.theme-light {
    --color-primary: hsl(0, 0%, 86%);
    --color-background: rgb(251, 251, 254);
    --color-accent: #fd6f53;
    --color-font: hsl(0, 0%, 0%);
    font-family: Arial, Helvetica, sans-serif;
}

.theme-dark {
    --color-primary: hsl(214, 100%, 44%);
    --color-background: hsl(188, 17%, 17%);
    --color-accent: hsl(188, 86%, 49%);
    --color-font: hsl(0, 0%, 100%);
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
}

.container {
    background: var(--color-background);
    bottom: 0;
    color: var(--color-font);
    left: 0;
    margin: 0 auto;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
}

.container h1 {
    color: var(--color-font);
}

.container button {
    background: var(--color-primary);
    border-radius: 5px;
    border: 0;
    color: var(--color-font);
    margin: 0.75em;
    padding: 10px 20px;
}
 */
